body{
    font-family: 'Merriweather', serif;
}
.title{
    color: white;

text-align: center;
font-family: Merriweather;
font-size: 32px;

}
.description{
    color: white;

text-align: center;
font-family: Merriweather;
font-size: 72px;

}
.banner{
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;

}
.banner_image{
    border-radius: 16px;



}

    .happy-new-year{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:632px;
        padding: 160px 345px 160px 345px;
  border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

    }

    .catagory{
        text-align: center;
        font-family: Inter;
        font-style: normal;



    }
    .text1{color: #F00;
font-size: 88px;
font-weight: 700;
padding-top: 100px; 
padding-bottom: 50px;   }
        .text2{
            color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;

margin-bottom: 10px;        }

    .text3{
        color: #070211;
        font-size: 48px;
font-weight: 700;
padding-bottom:50px ;    }   

.party{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: 1320px 600px;
    background-position: center;
display: flex;
justify-content: center;

}

.text-a{
    color: white;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
}
.text-b{
    color:rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.text-c{
    color: white;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-top: 30px;
padding-left: 30px;
}
    
.party-texts{
    padding-top: 250px;
    padding-left: 200px;
width:800px
 ;}
 .group70{
    padding-top: 300px;
    padding-right: 150px;
    padding-bottom: 300px;
   
 }
 .details{
    margin-left:  482px;
    margin-right:  482px;

    padding: 100px 386px 214px 385px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
 }


 .btn{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
color: white;
border: 0px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;

 }